body {
    background-color: #87986a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f9f07e;
}

.inner-border-1 {
    background: #004953;
    display: grid;
    justify-content: center;
    position: relative;
    margin: -10px -10px -10px -10px;
}

body .inner-border-2 {
    background: #004953;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px -10px 10px -10px;
    border-style: groove;
    position: sticky;
    top: 0%;
}

.inner-border-2 div {
    margin: 0px 10px 0px 10px;
    border-radius: 20px;
    display: flex;
    background-color: #004953;
}

button{
    background-color: #f9f07e;
}

/*button:before {
    background-color: #f9f07e;
    height: 25px;
    width: 25px;
    top: 100%;
    left: 100%;
    transition: 0.7s;
}

button:hover::before {
    top: -30px;
    left: -30px
}

button:active::before {
    background: #004953;
    transition: backgrond 0s;
}*/


img {
    height: 25px;
    width: 25px;
}

#content_description {
    border-radius: 20px;
    margin: 20px 15px 15px 15px;
    display: grid;
    background: #f9f07e;
    position: relative;
}

#content_description div-1 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin: 20px 15px 15px 15px;
    display: grid;
    background: #004953;
    justify-content: center;
    align-content: center;
    position: relative;
}


/*Unfinished*/
.content-of-website {
    background-color: lightcoral;
    padding-bottom: 100%;
    margin: 0px 0px 15px 0px;
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 'sidebar main';
    justify-content: center;
    align-content: center;
    overflow: visible;
}

.content-of-website div {
    background: #004953;
    display: flex;
    grid-area: main;
    border-radius: 10px;
    justify-content: center;
    margin: 0px 15px 15px 15px;
}

/*#content_description div-2 {
    border-radius: 10px;
    margin: 10px 15px 15px 15px;
    display: grid;
    background: #004953;
    justify-content: center;
    align-content: center;
    position: relative;
}

#content_description div-3 {
    border-radius: 10px;
    margin: 10px 15px 15px 15px;
    display: grid;
    background: #004953;
    justify-content: center;
    align-content: center;
    position: relative;
}