body {
    background-color: #87986a;
}

.border1 { 
    background: #004953;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    padding: 5px;
}

.border1 h1 {
    color: #f9f07e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 225%;
}

.border2 { 
    background: #f9f07e;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    padding: 5px;
}

.border2 h1 {
    color: #004953;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 225%;
}

#navigation {
    position: relative;
    margin: 10px 20px 10px 5px;
    background: #004953;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#navigation h1 {
    color: #f9f07e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 225%;
}

#content {
    position: relative;
    margin: 10px 20px 10px 5px;
    background: #004953;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 1050px;
}

#content h1 {
    color: #f9f07e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 225%;
}